svg
  defs
    filter(id="f1" x="0" y="0")
      feGaussianBlur(in="SourceGraphic" stdDeviation="0")
    filter(id="f2" x="0" y="0")
      feGaussianBlur(in="SourceGraphic" stdDeviation="1")
    filter(id="f3" x="0" y="0")
      feGaussianBlur(in="SourceGraphic" stdDeviation="2")
    filter(id="f4" x="0" y="0")
      feGaussianBlur(in="SourceGraphic" stdDeviation="3")
  g(id="svg")
  g(id="cs")
  g(id="ce")
//- #num 0